<div class="col-4 p-4 d-flex flex-column bg-light shadow-sm" id="calendar">
    <h3 class="mt-2 mb-4">直播日历</h3>
    <table class="table table-bordered col m-0" >
    <link href="/static/css/calendar.css" rel="stylesheet" />
        <thead class="thead-dark">
            <tr>
                <th class="pl-0 pr-0">Sun</th>
                <th class="pl-0 pr-0">Mon</th>
                <th class="pl-0 pr-0">Tue</th>
                <th class="pl-0 pr-0">Wed</th>
                <th class="pl-0 pr-0">Thu</th>
                <th class="pl-0 pr-0">Fri</th>
                <th class="pl-0 pr-0">Sat</th>
            </tr>
        </thead>
        <tbody>
        {% for week in month %}
            <tr>
            {% for day in week %}
                <td scope="col" onclick="RecordFromCalendar('{{ day }}', this)">{{ day }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>