<div class="col d-flex justify-content-center" style="min-height: 40.8rem">
    <div class="col-10 bg-light m-3 p-3 shadow-sm">
        <div class="col d-flex m-2 p-2">
            <div class="col-6">
                <img src="{{ info.Cover }}" class="img-fluid" />
            </div>
            <div class="col-6">
                <h5>{{ info.Title }}</h5>
                <p>{{ info.Date }}</p>
            </div>
        </div>
        <div class="col m-2 p-2">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <th>分辨率</th>
                    <th>帧速率</th>
                    <th>视频比特率</th>
                    <th>音频比特率</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ info.Resolution }}</td>
                    <td>{{ info.FrameRate }} 帧/s</td>
                    <td>{{ info.VideoByteRate }} kbps</td>
                    <td>{{ info.AudioByteRate }} kbps</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>