<div class="col p-4 d-flex flex-column bg-light shadow-sm" id="status">
    <h3> 运行状态 </h3>
    <div class="d-flex justify-content-center" id="statusinfo">
        <div class="col-3 p-4 m-3 d-flex flex-column justify-content-center border-dark border">
            <p class="text-secondary">正在监听直播间:</p>
            <div class="row d-flex justify-content-center m-2">
                <h2>{{ room_id }}</h2>
            </div>
        </div>
        <div class="col-3 p-4 m-3 d-flex flex-column justify-content-center border-dark border">
            <p class="text-secondary">已录制:</p>
            <div class="row d-flex justify-content-center m-2">
                <h2>{{ records }}</h2>
            </div>
        </div>
        <div class="col-3 p-4 m-3 d-flex flex-column justify-content-center border-dark border">
            <p class="text-secondary">脚本工作:</p>
            <div class="row d-flex justify-content-center m-2">
                {% if status == True %}
                    <h2 class="iconfont icon-zhengchang text-success" style="font-size: 2rem"></h2>
                {% else %}
                    <h2 class="iconfont icon-yichang text-danger" style="font-size: 2rem"></h2>
                {% endif %}
                <h2></h2>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>